.wrapper {
    padding: 0;
}

.carousel-item {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.carousel-caption {
    position: static;
    padding: 200px 0;
    height: 760px;

    &__uptitle {
        color: $primary;
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        text-transform: uppercase;
    }
    &__title {
        font-family: 'Popins', sans-serif;
        font-size: 72px;
        line-height: 90px;
        font-weight: 700;
        margin-bottom: 30px;
        text-transform: capitalize;
        position: relative;
        padding-bottom: 50px;

        &::before {
            position: absolute;
            content: '';
            background: $primary;
            width: 1px;
            height: 50px;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }

    &__desc {
        font-size: 18px;
        font-weight: 400;
    }

}

.carousel-control-prev .fa,
.carousel-control-next .fa {
    width: 50px;
    height: 50px;
    border: 2px solid #fff;
    position: relative;
    font-size: 24px;

    &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

@media(max-width: 991px) and (min-width: 768px) {
    .carousel-caption {
        padding: 150px 0 200px 0;
    }
    .carousel-caption__title {
        margin-bottom: 0px;
    }
}

@media(max-width: 767px) {
    .carousel-caption {
        padding: 100px 0;
        height: 850px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .btn {
            width: 250px;
            margin: 20px auto 0 auto;
        }
    }
}

@media(max-width: 576px) {
    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .carousel-caption {
        height: 660px;

        &__title {
            font-size: 45px;
            line-height: 60px;
            padding-bottom: 0;

            &::before {
                display: none;
            }
        }
    }
}